RewriteEngine On
RewriteCond %{HTTP_HOST} ^yourdomain\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.yourdomain.\.com$
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.yourdomain.com/$1 [R,L]

options -indexes

AuthUserFile config
AuthGroupFile /dev/null
AuthName "Accès restreints - Veuillez vous authentifier"
AuthType Basic
require valid-user

AuthUserFile config
AuthName "Accès protégé"
AuthType Basic
Require valid-user